

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: rgb(166,179,175);
    background: linear-gradient(0deg, rgba(166,179,175,0.9976190305223652) 85%, rgba(42,191,132,1) 25%);   
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    
}

.boolzapp-container {
    height: 90%;
    width: 80%;
    display: flex;
}
    
    
.avatar-box {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    align-items: center;
    padding: 10px;
}    




.img-box {
    width: 50px;
    display: inline-block;
    position: relative;
   
}

.img-title {
    position: absolute;
    left: 50px;
    bottom: 20px;
}

    
  .contacts {
    width: 30%;
 }   
    


    
    




.img-box > img {
    width: 100%;
    object-fit: cover;
    display:block;
    border-radius: 50%;
    

}

.circle-icon-box {
    height: 70px;
    display: flex;
    background-color: #8EDAFC;
    padding: 10px;
    align-items: center;
    
}



    
.icons > i {
    padding-right: 10px;
    color: #B1B0AE;
    
    
}


.circle-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    
}

.circle-icon-box .circle-icon > i {
    font-size: 20px;
    color:#8EDAFC;
}
    

 
 .contacts-list {
    height: calc(100% - 140px);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
}

.search {
    height: 40px;
    display: flex;
    background-color: white;
    padding: 5px;
    
}
.search > input {
    width: 90%;
}


ul > li {
    list-style: none;
}


.chat {
    width: 70%;
    height:100% ;
    
    
}
    
  

.messages {
    display: flex;
    flex-direction: column;
    background-image: url("../img/mine.jpg");
    height: calc(100% - 100px);
    overflow: auto;
    
    
    
}

.sent {
    background-color:#D5F9BA;
    border-radius: 8px;
    align-self: flex-end;
    padding: 10px;
    margin-top: 10px;
    

}

.recived {
    background-color: white;
    border-radius: 8px;
    align-self: flex-start;
    padding: 10px;


}

.boolzapp-keyboard {
    height: 30px;
    display: flex;
    border: 1px solid #B1B0AE;
    background-color: white;
    align-items: center;
    
}

.emoticons {
    display: flex;
    padding: 5px;
    color: #B1B0AE;
    
}

.keyboard {
    height: 100%;
    flex-grow: 1;
    padding: 5px;
}

.keyboard > input {
    width: 100%;
    height: 100%;
}


.microphone {
    display: flex;
    padding: 5px;
    color: #B1B0AE;
}
